@model CricketWebApplicationMVC.Models.CreateMatchModel

@{
    ViewData["Title"] = "CreateMatch";
}

<style>

    /* .control-label {
            font-weight:500;
            padding:3px;
        } */
    .row {
        place-content: center;
        padding: 5px;
    }
    /*   .col-md-4{
            padding:10px;
        } */
    form {
        border-radius: 10px;
        padding: 15px;
    }

    .btn {
        width: 90%;
    }

    .TeamLogo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
        border-radius: 5px;
    }
</style>

<body>
    <center>
        <h2>Create Match</h2>
    </center>
    <hr />

    <form asp-action="CreateMatch">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label">Team A</label>
                    <select id="TeamName" asp-for="TeamName" class="form-control">
                        <option>Select</option>
                        @foreach (var team in ViewBag.Teams)
                        {
                            <option value="@team.TeamID">@team.TeamName</option>
                        }
                    </select>
                    <div class="form-group" style="display:flex; justify-content:center; margin-top:20px">
                        <img id="teamLogo" class="TeamLogo" src="~/TeamLogo/@Html.DisplayFor(team => team.TeamLogo)" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <br />
                <div class="form-group" style="border:1px solid #CDD3D9; border-radius:5px; align-items:center; display:flex;justify-content:center">
                  <h5 style="place-items:center;padding-top:10px">V/S</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label">Team B</label>
                    <select id="TeamName" asp-for="TeamName" class="form-control">
                        <option>Select</option>
                        @foreach (var team in ViewBag.Teams)
                        {
                            <option value="@team.TeamID">@team.TeamName</option>
                        }
                        <span asp-validation-for="TeamName" class="text-danger"></span>
                    </select>
                    <div class="form-group" style="display:flex; justify-content:center; margin-top:20px">
                        <img class="TeamLogo" src="~/TeamLogo/@Html.DisplayFor(team => team.TeamLogo)" />
                    </div>
                </div>
            </div>
        </div>
        <br /><br />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Match_DateTime" class="control-label">Match DateTime</label>
                    <input type="datetime-local" asp-for="Match_DateTime" class="form-control" />
                    <span asp-validation-for="Match_DateTime" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="MatchType" class="control-label">Match Type</label>
                    <select id="MatchType" asp-for="MatchType" class="form-control">
                        <option>Select</option>
                        <option value="test">Test Match</option>
                        <option value="odi">One Day International (ODI)</option>
                        <option value="t20">Twenty20 International (T20I)</option>
                        <option value="domestic-t20">Domestic T20 League</option>
                        <option value="domestic-odi">Domestic One Day Competition</option>
                        <option value="first-class">First-Class Cricket</option>
                        <option value="list-a">List A Match</option>
                        <option value="other">Other</option>
                    </select>
                    <span asp-validation-for="MatchType" class="text-danger"></span>
                </div>
            </div>
        </div>
        <center>
        <div class="row" id="otherMatchTypeInput" style="display: none;">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="OtherMatchType" class="control-label">Other Match Type</label>
                    <input type="text" id="OtherMatchType" name="OtherMatchType" class="form-control" />
                </div>
            </div>
            </div>
        </center>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="BattingTeam" class="control-label">Batting Team</label>
                    <select id="BattingTeam" asp-for="BattingTeam" class="form-control">
                        <option>Select</option>
                        @foreach (var team in ViewBag.Teams)
                        {
                            <option value="@team.TeamID">@team.TeamName</option>
                        }
                    </select>
                    <span asp-validation-for="BattingTeam" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="display:flex; justify-content:center">
                    <input type="submit" value="Start Match" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </form>


</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const matchTypeSelect = document.getElementById("MatchType");
        const otherMatchTypeInput = document.getElementById("otherMatchTypeInput");

        matchTypeSelect.addEventListener("change", function () {
            if (matchTypeSelect.value === "other") {
                otherMatchTypeInput.style.display = "block"; // Display the textbox for other match type
            } else {
                otherMatchTypeInput.style.display = "none"; // Hide the textbox for other match type
            }
        });
    });



</script>

@{
    var alertMessage = TempData["AlertMessage"] as string;
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <script>
        alert('@alertMessage');
    </script>

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
