@model CricketWebApplicationMVC.Models.AddTeamModel

@{
    ViewData["Title"] = "Details";
}

<style>

    .row {
        place-content: center;
        padding: 5px;
    }

    dt {
        font-weight: 500;
    }

    .col-sm-10 {
    }

    .col-sm-2 {
    }

    .btn {
        width: 90%;
    }

</style>

<center>
    <h2>Team Details</h2>
</center>


<div>

    <hr />

    <dl class="row">
        <div class="col-md-4" style="display:flex;justify-content:center;place-items:center">
            <dd>
                <img class="TeamLogo" style="height:180px" src="data:image;base64,@(Convert.ToBase64String(Model.TeamLogo))" />
            </dd>
            <hr />
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Team ID</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.DisplayFor(model => model.TeamID)
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Team Name</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.DisplayFor(model => model.TeamName)
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 1</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player1, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player1 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 2</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player2, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player2 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>

                        <label>Player 3</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player3, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player3 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 4</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player4, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player4 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 5</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player5, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player5 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 6</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player6, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player6 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 7</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player7, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player7 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 8</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player8, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player8 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 9</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player9, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player9 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 10</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player10, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player10 })
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <dt>
                        <label>Player 11</label>
                    </dt>
                </div>
                <div class="col-sm-8">
                    <dd>
                        @Html.ActionLink(Model.Player11, "DetailsByName", "AddPlayer", new { PlayerName = Model.Player11 })
                    </dd>
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "ManageTeam", new { TeamID = Model.TeamID }) |
    @Html.ActionLink("Delete", "Delete", new { TeamID = Model.TeamID }) |
    <a asp-action="Index">Back to List</a>
</div>

